.gitignore
CurseForge 
arduino-ide
dconf
htop 
mimeapps.list 
session 
wal-discord
Electron  
audacity 
discord   
hypr
neofetch 
pulse
torbrowser
wasistlos
Kingsoft 
baloofilerc
dolphinrc 
nitrogen 
ranger 
trashrc  
waybar
Kitware
btop 
filetypesrc 
jgit 
rofi 
user-dirs.dirs  
Signal 
byobu 
go 
kde.org 
oomox 
rofi.mafrobo
user-dirs.locale
xfce4
Thunar 
cef_user_data
gtk-2.0  
kiorc   
pavucontrol.ini 
rstudio  
vlc  
xfwm4
ags  
coc   
gtk-3.0   
kitty      
yay
